<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>Videoclub - Admin User</title>

    <!-- Bootstrap core CSS -->
      
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles -->
    <link href="styles.css" rel="stylesheet"></link>

  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"> </a>
        </div>
        
        
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
          <form id="searcher" class="navbar-form navbar-searcher " role="form">
            <div class="form-group  has-feedback">
              <span class="glyphicon glyphicon-search form-icon"></span>
              <input id="searcher" type="searcher" class="form-control   has-form-icon" name="search" value="" placeholder="Buscador"></input>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
    </nav>
    
    <div class="jumbotron">
      <div class="container">
        <div class="container" id="info">
        <div class="row">
          <div class="col-md-6">
            <h2><center>Top del Año</center></h2>
            <div id="Carousel1" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#Carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#Carousel1" data-slide-to="1"></li>
                <li data-target="#Carousel1" data-slide-to="2"></li>
                <li data-target="#Carousel1" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNmJkODczNjItNDI5Yy00MGI1LTkyOWItZDNmNjM4ZGI1ZDVlL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMDI2NDg0NQ@@._V1_SY1000_CR0,0,658,1000_AL_.jpg" alt="Logan"></img>
                </div>
                <div class="item">
                  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjQwODQwNTg4OV5BMl5BanBnXkFtZTgwMTk4MTAzMjI@._V1_.jpg" alt="Logan"></img>
                </div>

                <div class="item">
                  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjQyODg5Njc4N15BMl5BanBnXkFtZTgwMzExMjE3NzE@._V1_SY1000_SX686_AL_.jpg" alt="Deadpool"></img>
                </div>
  
                <div class="item">
                  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTAzODEzNDAzMl5BMl5BanBnXkFtZTgwMDU1MTgzNzE@._V1_SY1000_CR0,0,677,1000_AL_.jpg" alt="Star Wars"></img>
                </div>
              </div>
  
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#Carousel1" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#Carousel1" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>  
        
        <div class="col-md-6">
          <h2><center>Añadidas Recientemente</center></h2>
          <div id="Carousel2" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#Carousel2" data-slide-to="0" class="active"></li>
                <li data-target="#Carousel2" data-slide-to="1"></li>
                <li data-target="#Carousel2" data-slide-to="2"></li>
                <li data-target="#Carousel2" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNmJkODczNjItNDI5Yy00MGI1LTkyOWItZDNmNjM4ZGI1ZDVlL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMDI2NDg0NQ@@._V1_SY1000_CR0,0,658,1000_AL_.jpg" alt="Logan"></img>
                </div>
                
                <div class="item">
                  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjQwODQwNTg4OV5BMl5BanBnXkFtZTgwMTk4MTAzMjI@._V1_.jpg" alt="Logan"></img>
                </div>

                <div class="item">
                  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjQyODg5Njc4N15BMl5BanBnXkFtZTgwMzExMjE3NzE@._V1_SY1000_SX686_AL_.jpg" alt="Deadpool"></img>
                </div>
  
                <div class="item">
                  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTAzODEzNDAzMl5BMl5BanBnXkFtZTgwMDU1MTgzNzE@._V1_SY1000_CR0,0,677,1000_AL_.jpg" alt="Star Wars"></img>
                </div>
              </div>
  
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#Carousel2" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#Carousel2" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    
      <footer>
        <p>&copy; Dise&ntilde;o de aplicaciones m&oacute;viles.</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
