<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Video Club Online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <link rel="stylesheet" type="text/css" media="all" href="../../css/stsm.css" th:href="@{/css/stsm.css}"/>
    <link href="styles3.css" rel="stylesheet"/>
    <link href="styles.css" rel="stylesheet"/>
     <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  </head>
  <body>
    <!-- menú vertical -->
    <div class="container-fluid ">
  
      <div class="row" id="menu-vertical">
        
        <ul class="nav nav-tabs visible-xs">
          <li><a class="btn-horizontal " data-toggle="tab" href="#menu1"><span class="glyphicon glyphicon-user"></span></a></li>
          <li><a class="btn-horizontal " data-toggle="tab" href="#menu2"><span class="glyphicon glyphicon-film"></span></a></li>
          <li><a class="btn-horizontal " data-toggle="tab" href="#menu3"><span class="glyphicon glyphicon-envelope"></span></a></li>
        </ul>
        
        <ul class="col-md-3 hidden-sm hidden-xs nav nav-pills nav-stacked">
          <li><a class="btn-vertical " data-toggle="tab" href="#menu1"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;Administar Usuarios</a></li>
          <li><a class="btn-vertical " data-toggle="tab" href="#menu2"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;&nbsp;Administar Películas</a></li>
          <li><a class="btn-vertical  " data-toggle="tab" href="#menu3"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;Mensajes </a></li>
        </ul>
      
        <ul class="col-sm-2 visible-sm nav nav-pills nav-stacked">
          <li><a class="btn-vertical " data-toggle="tab" href="#menu1"><span class="glyphicon glyphicon-user"></span></a></li>
          <li><a class="btn-vertical " data-toggle="tab" href="#menu2"><span class="glyphicon glyphicon-film"></span></a></li>
          <li><a class="btn-vertical " data-toggle="tab" href="#menu3"><span class="glyphicon glyphicon-envelope"></span></a></li>
        </ul>
      
        <div id="menu1" class=" tab-pane fade">
          
          
            <!--                                                                                   
            <div class="table-responsive">          
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Usuario</th>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th>Role</th>
                  <th>Country</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Anna</td>
                  <td>Pitt</td>
                  <td>35</td>
                  <td>New York</td>
                  <td>USA</td>
                </tr>
              </tbody>
            </table>
            </div>-->
      </div>

          <div id="menu2" class=" tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
          <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </div>
    </div>

    
   

  </body>
</html>