<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Video Club Online</title>
  </head>

  <body>
  <div th:if="${admin}">
    <p>soy un admin \o/</p>
    <a th:href="@{/admin}" role="button">Atras</a>
  </div>
  
  <form th:action="@{/peliculas/get-by-name}" method="post" >
  <input type="search" name="search" />
  <br />
  <input type="submit" value="search"/>
  </form>
  <h1>Hello Spring Security!</h1>
  <p th:text="${username}"></p>
  <p th:text="${password}"></p>
  <form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
  </form>
  
  
  </body>

</html>
